################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/XF4Layouts/v15
/XF4Layouts/bin/Debug/netstandard2.0
/XF4Layouts/obj
/XF4Layouts.Android/bin/Debug
/XF4Layouts.Android/obj
/XF4Layouts.iOS/obj
/XF4Layouts.UWP/obj
/XF4Layouts.iOS/bin/iPhoneSimulator/Debug
/XF4Layouts.UWP/bin/x86/Debug
/.vs/Xamurai/v15
/Xamurai/bin/Debug/netstandard2.0
/Xamurai/obj
/Xamurai.Android/bin/Debug
/Xamurai.Android/obj
/Xamurai.iOS/bin/iPhoneSimulator/Debug
/Xamurai.iOS/obj
/Xamurai.UWP/bin/x86/Debug
/Xamurai.UWP/obj
/Xamurai.iOS/Xamurai.iOS.csproj.user
/Xamurai.Android/Xamurai.Android.csproj.user
/.vs/Xamurai/v16/.suo
